/* animation: name duration timing-function delay iteration-count direction fill-mode; */

.senser-info-move-up {
    animation: slider-info-up 1s;
    animation-fill-mode: forwards;
}

.senser-info-move-down {
    animation: slider-info-down 1s;
    animation-fill-mode: forwards;
}

.screen-menu-move-left {
    animation: screen-menu-left 0.5s;
    animation-fill-mode: forwards;
}

.screen-menu-move-right {
    animation: screen-menu-right 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slider-info-up {
    from {height: 0;}
    to {height: 65%;}
}

@keyframes slider-info-down {
    from {height: 65%;}
    to {height: 0;}
}

@keyframes screen-menu-left {
    from {width: 0px;}
    to {width: 700px;}
}

@keyframes screen-menu-right {
    from {width: 700px;}
    to {width: 0px;}
}