@media screen and (min-width: 480px) and (max-width: 767px){
    .main-body {
        background: url('../backgrounds/Spider-Man-poster2.jpg') no-repeat center;
        background-size: cover;
    }

    .senser-info {
        background: linear-gradient(#D49B00,#CA7B00);   
    }

    .senser-info .for-content .bottom {
        background: linear-gradient(to top, #CA7B00, transparent 50%);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .main-body {
        background: url('../backgrounds/Spider-Man-poster3.jpg') no-repeat center 20%;
        background-size: cover;
    }

    .senser-info {
        background: linear-gradient(#EBCAA7,#D1957B);   
    }

    .senser-info .for-content .bottom {
        background: linear-gradient(to top, #D1957B, transparent 50%);
    }
}

@media screen and (min-width: 1024px) {
    .main-body {
        background: url('../backgrounds/Spider-Man-poster4.jpg') no-repeat center 35%;
        background-size: cover;
    }

    .back, .senser-info {
        display: none;
    }

    .screen {
        position: absolute;
        right: 0;

        display: flex;

        height: 100%;
    }

    .screen .menu-button {
        width: 50px;
        height: 50px;

        background: url('../icons/menu.png') no-repeat center rgba(150, 150, 150, 0.5);
        background-size: 50%;
        backdrop-filter: blur(3px);
    }

    .screen .menu-button:hover {
        background-color: rgba(150, 150, 150, 0.4);
    }
    
    .screen .menu-button:active {
        background-color: rgba(200, 200, 200, 0.3);
    }

    .screen-content {
        width: 0px;
        height: 100%;

        background: linear-gradient(to left, #536A8B, #8496B2);
    }
}